body {
  font-family: 'Overpass Mono', monospace;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 25px 0 15px 0;
  color: #333;
  text-align: center;
}

hr {
  border-color: #FFF;
}

#game {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#game canvas {
  background-color: #333;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: initial;
  transition: color 2s ease;
}

.link:visited {
  color: initial;
}

.link:hover {
  color: #30638E;
}

header.p-header {
  background-color: #2E4057;
  position: sticky;
  top: 0;
  padding: 20px 0;
  z-index: 600;
}

header.p-header .link > h1.title {
  font-size: 2.5em;
  vertical-align: bottom;
  color: #ddd;
  transition: color 2s ease;
}

header.p-header .link > h1.title:hover {
  color: #EDAE49;
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

